.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(221, 227, 235, 1) ;
    background-color: transparent;
}

.button:active {
background-color: rgba(221, 227, 235, .3);
}

.button_active {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(41, 127, 255, 1) ;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(41, 127, 255, 1);
}

.button_active:active {
    background-color: rgba(41, 127, 255, .7);
    border-color: rgba(41, 127, 255, .7) ;
}