.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    color: #14233D;
    margin-bottom: 100px;
}


.item a:visited {
    color: #14233D;
}

.item a:hover {
    opacity: .8;
}



