.slider {
    background-color: #fff;
    padding: 23px 20px 25px 20px;
    border-radius: 15px;

}


.text {    
    font-size: 14px;
    line-height: 18px;
    color: rgba(20, 35, 61, 1);
    padding-bottom: 20px;

    
}

.author {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-transform: uppercase;
    color: rgba(171, 177, 197, 1);
    justify-content: center;
}